*.a
*.la
*.o
*~
.deps
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/include/xdrc/endian.h
/install-sh
/missing
/stamp-*
/test-driver
/tests/test-*
/xdrc/parse.cc
/xdrc/parse.hh
/xdrc/scan.cc
/xdrc/xdrc
/xdrc/xdrc.1
/ylwrap
xdrc-*.tar.gz
