*.o
*~
.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/include/xdrc/endian.h
/install-sh
/missing
/parse.cc
/parse.hh
/scan.cc
/stamp-*
/xdrc
/ylwrap
