*.a
*.la
*.o
*~
.deps
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/cereal
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/doc/html
/doc/xdrc.1
/install-sh
/missing
/stamp-*
/test-driver
/tests/*.hh
/tests/test-*
/xdrc/parse.cc
/xdrc/parse.hh
/xdrc/scan.cc
/xdrc/xdrc
/xdrpp-uninstalled.pc
/xdrpp.pc
/xdrpp/*.hh
/xdrpp/endian.h
/ylwrap
xdrpp-*.tar.gz
